body{
padding: 0;
margin: 0;
background-color: bisque;
box-sizing: border-box;
font-family: sans-serif;
}
.button1{
  width: 280px;
}
.content{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.addition{
  color: #4caf50;
}
.subtruction{
  color: #f44336;
  font-size: 35px;
}
.multi{
  color:#2196f3 ;
  font-weight: bold;
}
.equal{
  color: #00bcd4;
  width: 135px;
}
.div{
  color:#ff9800 ;
  

}
.ac{
  color:red;
}
.de{
  color:rgb(118, 2, 2);
}
.buttons{
  padding: 10px;
  background-color:#f5f5f5;
  border-radius: 10px;
}
input{
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow:-8px -8px 15px rgba(219, 215, 215, 0.3), 5px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #e0e0e0 ;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}
input:hover{
  box-shadow: -8px -8px 15px rgba(14, 13, 13, 0.3), 8px 8px 15px rgba(14, 13, 13, 0.3);
  color: #0067a7;
}

